.card-content-color{
	background-color:#ffd886;
}

.card-header-color{
	background-color:#ffc900;
}

.header-color{
	background-color:#ffc900;
}

.menu-color{
	background-color:#f3c51a;
}

:target {
  display: block;
  position: relative;
  top: -60px; 
  visibility: hidden;
}

.popup-limits
{
overflow-y: auto;
	width:90%;
	max-height:90%;
}

.resize {
  width: 60%;
  resize: both;
  overflow: auto;
}

.noscroll { 
  overflow: hidden;
}

.card{
	float: center;
	width: 32%;
	min-width:250px;
	border: solid;
	border-color: #eebc00;
	background-color:#f4cc78;
	margin:2px;
	height:350px;
}

.card-text{
	white-space: pre-wrap;	
}
